/* Font used */
@font-face {
  font-family: 'Centra';
  src: url('./assets/font/DidactGothic-Regular.ttf');
  font-weight: 700;
}

/* Default Css */
* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}

html {

  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

/*navbar styles*/

nav.navbar {
  background: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
  padding: 18px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #e3d1d1;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  position: relative;
  margin-left: 50px;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

/*banner styles*/

.banner {
  margin-top: 0;
  padding: 100px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar {
  width: 190px;
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.banner h1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 1.9s steps(30, end) forwards infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.social-icon a {
  display: inline-flex;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.social-icon a:hover {
  transform: scale(1.8);
}




/*projects styles*/
.projects {
  width: 100%;
  background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);

}

#heading {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin-left: 40%;
  font-size: 40px;
  animation: typing 1.9s steps(30, end) forwards infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}


#description {
  display: inline-block;
  margin-left: 25%;
  font-size: 25px;
  padding: 30px;
}

#card {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, .4) 0 5px 15px;
  margin: 2rem;
  height: 80%;
  padding: 0%;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  color: #dcd7e0;
}

.project-card {
  transition: all 0.3s ease;
}

.project-card__item {
  transition: transform 0.3s ease;
}


.project-card__item:hover {
  transform: scale(1.1);
}

.project-card-wrapper {
  height: 400px;
  overflow: hidden;
}

.project-img {
  height: 200px;
  width: 50%;
  object-fit: cover;
  width: fit-content;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button-group>* {
  margin: 0 0.5rem;
}

.github-button,
.demo-button {
  background: transparent!important;
  border-radius: 1px;
  border: 3px solid white;
  border: #fff !important;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 5px 5px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.github-button:hover,
.demo-button:hover {
  background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%) ! important;
  box-sizing: border-box;
}

/*Skills styles*/
.skills {
  text-align: center;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 270px 0 200px 0;
}

.skills h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
}

.skills-icons svg {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  color: #555;
  transition: all 0.2s ease-in-out;
}

.skills-icons svg:hover {
  color: #61dbfb;
  transform: scale(1.2);
}

/*Contact Form styles*/
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}

.contact img {
  width: 92%;
  float: left;
  /* float the image to the left */
  animation: float 2s ease-in-out infinite;
  /* animate the image using the "float" animation */
}

@keyframes float {
  0% {

    transform: translatey(0px);
  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

/*Footer styles */
.footer {
  padding: 0 0 70px 0;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}