
/* Font used */
@font-face {
  font-family: 'Centra';
  src: url('./assets/font/DidactGothic-Regular.ttf');
  font-weight: 700;
}

* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}

html {

  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

/*navbar styles*/


nav.navbar {
  position: relative !important;
  background: rgba(255, 255, 255, 0.1) !important;
  color: #ffffff !important;
  font: bold !important;
  padding: 18px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #e3d1d1;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  position: absolute;
  margin-left: 50px;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

.navbar-nav .nav-link {
  position: relative;
  color: #fffafa;
  font-size: large;
  margin-left: 0px;
}

/* Media queries for responsive design */
/* max width: 767px */
@media only screen and (max-width: 767px) {
  nav.navbar {
    background: rgba(255, 255, 255, 0.1) !important;
    color: #ffffff !important;
    font: bold !important;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
  }

  nav.navbar .navbar-toggler {
    border-color: #ffffff;
  }

  nav.navbar .navbar-nav .nav-link.navbar-link {
    margin-left: 0;
    padding: 10px;
    font-size: 14px;
    position: static;
    color: #fff !important;
  }

  nav.navbar a.navbar-brand {
    width: auto;
    margin-left: 10px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 10px;
  }
}

/* Medium screens (between 768px and 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    margin-left: 25px;
    padding: 10px;
    font-size: 16px;
  }

  nav.navbar a.navbar-brand {
    width: auto;
  }

  .navbar-nav .nav-link {
    font-size: medium;
  }
}

/* Large screens (992px and above) */
@media only screen and (min-width: 992px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    margin-left: 50px;
    padding: 0 25px;
    font-size: 18px;
  }

  nav.navbar a.navbar-brand {
    width: 9%;
  }

  .navbar-nav .nav-link {
    font-size: large;
  }
}


.navbar-brand{
position: relative;
margin-left: 30px;

}

/*banner styles*/

.banner {
  margin-top: 0;
  padding: 80px 0 100px 0;
  padding-bottom: 50px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar {
  width: 190px;
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 1.9s steps(30, end) forwards infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.description{
font-size: 2rem;
}

.social-icon a {
  display: inline-flex;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.social-icon a:hover {
  transform: scale(1.8);
}

#button-about{
background-color: transparent!important;
cursor: pointer;
font-family: Montserrat, sans-serif;
font-size: .6em;
border-color: #ece6e9;
margin: 5px;
padding: 5px 5px;
text-align: center;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;


}
#button-about:hover {
  background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%) ! important;
  box-sizing: border-box! important;
}

/*projects styles*/
.projects {
  width: 100%;
  background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);

}

#proj-des{
  font:bolder;
  font-size: 1.5rem;
  margin-left: 29%;
}

#heading {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin-left: 40%;
  font-size: 40px;
  animation: typing 1.9s steps(30, end) forwards infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}


#card {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, .4) 0 5px 15px;
  margin: 2rem;
  height: 80%;
  padding: 0%;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  color: #dcd7e0;
}

.project_card {
  transition: all 0.3s ease;
}

.project-card__item:hover {
  transition: transform 0.3s ease;
}


.project-card__item:hover {
  transform: scale(1.1);
}


.project-card__item.slide-in {
  animation: slide-in 0.4s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(-50px);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.project-card-wrapper {
  height: 400px;
  overflow: hidden;
}

.project-img {
  height: 200px;
  width: 50%;
  object-fit: cover;
  width: fit-content;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button-group>* {
  margin: 0 0.5rem;
}

.github-button,
.demo-button {
  background: transparent !important;
  border-radius: 1px;
  border: 3px solid white;
  border: #fff !important;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 5px 5px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.github-button:hover,
.demo-button:hover {
  background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%) ! important;
  box-sizing: border-box;
}

/*Skills styles*/

.skills {
  opacity: 0; 
  transform: translateX(-100%); 
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
  text-align: center;
  height: 100%;
  padding: 100px 0 100px 0;         
}

.skills.animate {
  opacity: 1;
  transform: translateX(0); 
}
.skills h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 50%;
  max-width: 800px;
}

.skills-icons svg {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  color: #190457;
  transition: all 0.2s ease-in-out;
}

.skills-icons svg:hover {
  color: #61dbfb;
  transform: scale(1.5);
}

/*Contact Form styles*/

.contact-img {
  width: 30%;
  float: left;
  /* float the image to the left */
  animation: float 2s ease-in-out infinite;
  /* animate the image using the "float" animation */
}

@keyframes float {
  0% {

    transform: translatey(0px);
  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

#contact-form{
width: 100%;
padding-bottom: 170px;
}

.Contact-me{
font-size: 2rem;
background-color: transparent;
padding-bottom: 20px;
}
.btn-primary, 
.btn-danger{
  background: transparent !important;
  border-radius: 1px;
  border: 3px solid white;
  border: #fff !important;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 10px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-primary:hover,
.btn-danger:hover {
  background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%) ! important;
  box-sizing: border-box;
}


/*Footer styles */
.footer {
  padding: 10px;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}